@media only screen and (min-width: 800px) {
  body > header {
    background: rgba(0, 0, 0, 0.88);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
    body > header > h1 {
      filter: brightness(1.2);
      color: blanchedalmond;
      grid-column: 3/ 3;
      font-size: 140%; } }
