body > header {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

header > h1 {
    color: blanchedalmond;
    grid-column: 3/ 3;
    font-size: 140%;
}